*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: black;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.navbar a{
    font-size: 15px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
}

.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}

.home{
    width:100%;
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
    padding-top: 70px;
}

.aboutme{
    max-width: 800px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.aboutme h3{
    font-size: 42px;
    margin-bottom: 0.2em;
}

.aboutme h1{
    font-size: 62px;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

.aboutme p{
    font-size: 18px;
    margin: 25 px 0 30px;
}

.img > img{
    border-radius: 50%;
    width: 550px;
    height: auto;
}